* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    display: flex;
    padding: 40px;
    gap: 20px;
}

.main > div {
    width: 200px;
    height: 200px;
    background: cornflowerblue;
    transition: 0.5s;
}

.main > div:first-child:hover {
    /* transform: translateX(20px) translateY(20px); */
    transform: translate(20px, 20px);
}

.main > div:nth-child(2):hover {
    transform: scale(0.8);
}

.main > div:nth-child(3):hover {
    transform: skew(25deg, 25deg);
}

.main > div:nth-child(4):hover {
    transform: rotate(45deg);
    /* transform: rotate(45deg, 45deg); */
}

.main > div:nth-child(5):hover {
    transform: translate(30px) skew(10deg) rotate(40deg) scale(0.9);  
}

.pain {
    width: 100%;
    position: relative;
}

.pain > div{
    position: absolute;
    top: 0;
    left: 40px;
    width: 200px;
    height: 200px;
    background: orangered;
    animation: shohoj 4s infinite linear;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 72px;
}

@keyframes shohoj {
    0% {
        left: 20px;
        background: orangered;
        transform: rotate(0deg);
    }
    50% {
        left: calc(100% - 240px);
        background: blue;
        transform: rotate(360deg);
    }
    100% {
        left: 40px;
        background: orangered;
        transform: rotate(0deg);
    }
}