@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.container {
    width: 100%;
    display: grid;
    padding: 10px;
}

.container > div {
    border: 1px solid #ccc;
    border-radius: 8px;
}


.container > div > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.container > div > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h3 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 16px;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .container > div {
        background: seagreen;
    }
    .container > div > div {
        padding: 16px;
        gap: 8px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .container {
        padding: 24px;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .container > div {
        background: sandybrown;
    }
    .container > div > div {
        padding: 24px;
        gap: 24px;
    }
}
@media screen and (min-width: 1020px) {
    .container {
        padding: 32px;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    .container > div {
        background: lightcoral;
    }
    .container > div > div {
        padding: 32px;
        gap: 32px;
    }
}