* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$headingColor: #dd2323;
@mixin mainHeading($fs: 20px, $lh: 32px, $fst: normal) {
  font-size: $fs;
  color: $headingColor;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 600;
  line-height: $lh;
  font-style: $fst;
}

.heading {
  @include mainHeading(36px, 48px, italic);
  background: black;
  color: white;
}

.heading2 {
  @include mainHeading(66px, 78px, normal);
}
.heading3 {
  @include mainHeading();
}
.heading4 {
  @extend .heading;
  background: red;
  color: black;
}

.mofiz {
  width: 300px;
  height: 300px;
  background: blue;
  display: grid;
  place-items: center;
  margin: 20px auto;

  > .fizz {
    width: 200px;
    height: 200px;
    background: yellow;
    display: grid;
    place-items: center;
    > .mosta {
      width: 150px;
      height: 150px;
      background: salmon;
      display: grid;
      place-items: center;
      >.morshed {
        width: 100px;
        height: 100px;
        background: crimson;
        display: grid;
        place-items: center;

        &:hover {
            background: pink;
        }
      }
    }
  }
}
