* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn1 {
    padding: 8px 10px;
    border-width: 0;
    background: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background: red;
}

.para2 {
    width: 300px;
    border: transparent;
    border-width: 10px;
    border-image: url(image/bangladesh.jpg) 30;
    padding: 20px;
    margin: 40px;
    word-spacing: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    /* text-shadow: 1px 1px 1px red; */
    font-size: 20px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    line-height: 26px;
    /* background: linear-gradient(to top left, white, green, lime); */
    background: radial-gradient(white, blue, black);
    background: url(./image/bangladesh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    background-attachment: fixed;
    margin-bottom: 200px;
}

.bg-fixed {
    width: 100%;
    height: 100px;
    background: url(./image/bangladesh.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 800px;
}