* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myDiv {
    width: 200px;
    height: 200px;
    background: dodgerblue;
    position: relative;
    margin: 20px;
}

.myDiv:hover {
    top: 20px;
    left: 20px;
}

.dhaka {
    width: 200px;
    height: 200px;
    background: orange;
    position: relative;
    margin: 20px;
}

.dhanmondi {
    width: 100px;
    height: 100px;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.dhaka:hover > .dhanmondi {
    top: 100px;
    left: 100px;
}

.framgate {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    bottom: 0;
    right: 0;
     transition: 0.5s;
}

.dhaka:hover > .framgate {
    bottom: 100px;
    right: 100px;
}

.main {
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    margin: 20px;
}

.nested {
    width: 200px;
    height: 200px;
    background: lightgreen;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.main:hover > .nested {
    top: 100px;
    left: 100px;
}

.bd {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    position: relative;
    background: greenyellow;
}

.dhk {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: -50px;
    background: red;
    transition: 0.5s;
}

.bd:hover > .dhk {
    top: 50px;
    left: 150px;
}

.gap {
    width: 100%;
    height: 100vh;
}

.red {
    width: 60px;
    height: 600px;
    /* border-radius: 50%; */
    background: red;
    position: fixed;
    top: 40px;
    right: 40px;
}

.green {
    width: 60px;
    height: 60px;
    background: green;
    position: sticky;
    bottom: 0;
    left: 0;
}